/trabalho/nbproject/project.properties
/trabalho/nbproject/genfiles.properties
/trabalho/build.xml
/nbproject/project.xml
/trabalho/nbproject/project.xml
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/project.properties
/manifest.mf